libflowbox
flowbox-ruby
flowbox-rails
applications/*
!applications/README.md
!applications/flow_to_txt_cc
!applications/flow_to_txt_rb
!applications/flow_to_txt_cc_rb
!applications/ethz-extract_flowexporter
*~
*.o
*.exe
