libflowbox
flowbox-ruby
flowbox-rails
applications/*
!applications/README.md
!applications/flow_to_txt_cc
applications/flow_to_txt_cc/main_csg_reader
!applications/flow_to_txt_rb
!applications/flow_to_txt_cc_rb
*~
*.o
*.exe
